Frontend-Web/node_modules
Frontend-Web/.pnp
Frontend-Web/.pnp.*
Frontend-Web/.yarn/*
Frontend-Web/!.yarn/patches
Frontend-Web/!.yarn/plugins
Frontend-Web/!.yarn/releases
Frontend-Web/!.yarn/versions
Frontend-Web/coverage
Frontend-Web/.next/
Frontend-Web/out/
Frontend-Web/build
Frontend-Web/.DS_Store
Frontend-Web/*.pem
Frontend-Web/npm-debug.log*
Frontend-Web/yarn-debug.log*
Frontend-Web/yarn-error.log*
Frontend-Web/.pnpm-debug.log*
Frontend-Web/.env*
Frontend-Web/.vercel
Frontend-Web/*.tsbuildinfo
Frontend-Web/next-env.d.ts
Socket-Server/__pycache__/
Socket-Server/*.py[cod]
Socket-Server/*$py.class
Socket-Server/*.so
Socket-Server/.Python
Socket-Server/build/
Socket-Server/develop-eggs/
Socket-Server/dist/
Socket-Server/downloads/
Socket-Server/eggs/
Socket-Server/.eggs/
Socket-Server/lib/
Socket-Server/lib64/
Socket-Server/parts/
Socket-Server/sdist/
Socket-Server/var/
Socket-Server/wheels/
Socket-Server/share/python-wheels/
Socket-Server/*.egg-info/
Socket-Server/.installed.cfg
Socket-Server/*.egg
Socket-Server/MANIFEST
Socket-Server/*.manifest
Socket-Server/*.spec
Socket-Server/pip-log.txt
Socket-Server/pip-delete-this-directory.txt
Socket-Server/htmlcov/
Socket-Server/.tox/
Socket-Server/.nox/
Socket-Server/.coverage
Socket-Server/.coverage.*
Socket-Server/.cache
Socket-Server/nosetests.xml
Socket-Server/coverage.xml
Socket-Server/*.cover
Socket-Server/*.py,cover
Socket-Server/.hypothesis/
Socket-Server/.pytest_cache/
Socket-Server/cover/
Socket-Server/*.mo
Socket-Server/*.pot
Socket-Server/*.log
Socket-Server/local_settings.py
Socket-Server/db.sqlite3
Socket-Server/db.sqlite3-journal
Socket-Server/instance/
Socket-Server/.webassets-cache
Socket-Server/.scrapy
Socket-Server/docs/_build/
Socket-Server/.pybuilder/
Socket-Server/target/
Socket-Server/.ipynb_checkpoints
Socket-Server/profile_default/
Socket-Server/ipython_config.py
Socket-Server/.python-version
Socket-Server/.pdm.toml
Socket-Server/.pdm-python
Socket-Server/.pdm-build/
Socket-Server/__pypackages__/
Socket-Server/celerybeat-schedule
Socket-Server/celerybeat.pid
Socket-Server/*.sage.py
Socket-Server/.env
Socket-Server/.venv
Socket-Server/env/
Socket-Server/venv/
Socket-Server/ENV/
Socket-Server/env.bak/
Socket-Server/venv.bak/
Socket-Server/.spyderproject
Socket-Server/.spyproject
Socket-Server/.ropeproject
Socket-Server/.site
Socket-Server/.mypy_cache/
Socket-Server/.dmypy.json
Socket-Server/dmypy.json
Socket-Server/.pyre/
Socket-Server/.pytype/
Socket-Server/cython_debug/
Socket-Server/.ruff_cache/
Socket-Server/.pypirc